{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block id %}index{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center">
  <h1>My Orders</h1>
</div>
<br>
<div class="container">
  {% for item in bought_items -%}
    <div class="card d-inline-flex">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text"><em>Sold by: </em>{{ item.seller }}</p>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text"><em>Bought at: </em><mark>${{ item.price }}</mark></p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
window.onload = function() {
  const $ = jQuery;

  $(".buy-button").on("click", function() {
    const elem = $(this);
    const itemId = elem.attr("value");

    $.ajax({
      url: `/api/products/${itemId}/buy`,
      type: "POST",
    }).done((data) => {
      if (data["code"].startsWith("ERR")) {
        alert(data["message"])
      } else {
        window.location.href = "/products"
      }
    });
  });
};
</script>
{% endblock %}
