{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block id %}index{% endblock %}

{% block main %}
<div class="container">
  {% for item in items -%}
    <div class="card" style="width: 20em;">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text"><em>Sold by: </em>{{ item.seller }}</p>
        <p class="card-text">{{ item.description }}</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
